<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Error</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/Browser.js"></script>
    <script type="text/javascript" src="~/Assets/js/MyLog.js"></script>

    <script>
        $(document).ready(function () {
            var requestUrl = $("#divRequestUrl").text();
            log(true, "Error:Http404,Url:" + requestUrl + ".");
        });
    </script>

    <style>
        .aligncenter {
            clear: both;
            display: block;
            margin: auto;
        }

        .alignleft {
            display: inline;
            float: left;
        }

        .alignright {
            display: inline;
            float: right;
        }
    </style>
</head>
<body>
    <div id="divRequestUrl" style="display:none;">@ViewData["RequestUrl"]</div>
    <div>
        <img class="aligncenter" src="http://aaosh.org/wp-content/uploads/2015/11/404PAGE-NOT-FOUND.png" />
    </div>
</body>
</html>
