<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Error</title>
    <style>
        .aligncenter {
            clear: both;
            display: block;
            margin: auto;
        }

        .alignleft {
            display: inline;
            float: left;
        }

        .alignright {
            display: inline;
            float: right;
        }
    </style>
</head>
<body>
    <div>
        <img class="aligncenter" src="http://4freeinfo.co.uk/pic1.gif" />
    </div>
</body>
</html>
